.search_image{
    input{
        background-color: black;
        color: #fff;
        margin-top: 100px;
        margin-left: 570px;
        padding-top: 10px;
        padding-left: 70px;
        font-size: 30px;
        border-right-style: hidden;
        border-top-style: hidden;
        border-left-style: hidden;
        outline: none;
        border-bottom-style:groove;
    }
  
}

.show{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}